<!-- Modal de mensagem de informação: begin -->
<div id="MsgBoxInfoModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title header-default"><i class="fas fa-info-circle"></i>&nbsp;<span class="title"></span></h4>
            </div>
            <div class="modal-body text-center">
                <div class="d-flex">
                    <textarea class="form-control form-control-sm text message" rows="6"
                              style="background-color: transparent; border: none;" readonly></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="ok-button btn mat-focus-indicator button mat-raised-button mat-button-base" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal de mensagem de informação: end -->
<!-- Modal de mensagem de erro: begin -->
<div id="MsgBoxErrorModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title header-default text-danger"><i class="fas fa-exclamation-circle"></i>&nbsp;<span class="title"></span></h4>
            </div>
            <div class="modal-body text-center">
                <div class="d-flex">
                    @*<span class="message"></span>*@
                    <textarea class="form-control form-control-sm text message" rows="6"
                              style="background-color: transparent; border: none;" readonly></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="ok-button btn mat-focus-indicator button mat-raised-button mat-button-base" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal de mensagem de erro: end -->
<!-- Modal de mensagem de confirmação: begin -->
<div id="MsgBoxConfirmModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title header-default"><i class="fas fa-question-circle"></i>&nbsp;<span class="title"></span></h4>
            </div>
            <div class="modal-body text-center">
                <div class="d-flex">
                    <textarea class="form-control form-control-sm text message" rows="6"
                              style="background-color: transparent; border: none;" readonly></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="ok-button btn mat-focus-indicator button mat-raised-button mat-button-base">OK</button>
                <button type="button" class="cancel-button btn mat-focus-indicator button__white mat-raised-button mat-button-base" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal de mensagem de confirmação: end -->
<!-- Modal de apresentação de textos: begin -->
<div id="MsgBoxTextAreaModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title header-default"><i class="fas fa-info-circle"></i>&nbsp;<span class="title"></span></h4>
            </div>
            <div class="modal-body text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <textarea class="form-control form-control-sm text" rows="15" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="ok-button btn mat-focus-indicator button mat-raised-button mat-button-base" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal de apresentação de textos: end -->
